div{

    height: 300px;
width: 300px;
background-color: lightskyblue;
/* border-width:5px ;
border-style: solid;
border-color: black; */
/* IN SHORT */

border : 5px solid black;
border-right: dashed ;
border-radius: 15px;
padding-top: 50px;
padding-bottom:50px;
padding-right: 50px;
padding-left: 50px;
margin: 25px 50PX;
  
} 

h1{

/* border-width:5px ;
border-style: solid;
border-color: black;     */

 border-top-right-radius: 10px;
 border-style: dashed;
}     
button{
    border-style: solid;
    border-radius: 10px;
    padding-left: 25px;
    padding-right:25px ;
    background-color: brown;

    /*  YOU CAN ALSO WRITE LIKE THIS :-
        1. 1px - Applied to all 4 sides
        2. 1px 2px - top&bottom||left&right
        3. 1px 2px 3px- top | left & right | bottom
        4. 1px 2px 3px 4px- top|right|left|bottom
        SAME FOR MARGIN 
        */

}