h2{
    display: inline;
    background-color: lightcoral;
}

.top{
    display:block ;
    background-color: lightskyblue;
} 
.inline{
    background-color: greenyellow;
    height: 20px;
    width: 20px; 
    padding: 50px;
    margin: 20px;

}
