h1{
    text-align: center;
    border:solid;
   /*  width: 50%; */
   text-decoration: underline;
    letter-spacing: 4px;
}
h2{
    text-align: start;
    font-weight: 800;
    text-decoration: over;
    font-size: 10px;
}
P{
    text-align: end;
     font-weight: 100;
     line-height: 2;
     

}

h3{
    text-align: end;
     font-weight: 300  ;
     text-decoration: double line-through  ;
}

h4{
    text-decoration: dotted line-through;
}
h2{
    text-decoration: wavy overline;
}

h5{
    text-decoration: red underline;
}
a{
    text-decoration: none;
}