h1{
 color: pink;
 background-color: black;
}
#greet{

color: yellow;
}
.myclass{
    color: brown;
}
/* Q2 */
 div p{

    background-color: black;
 }

 .para{
    background-color: blue;

 }
  p{
    background-color: green;
  }