 h1{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
 } !important
 /*  important gives priority to the tag who it is attached with */
 h1{
    font-family: 'Courier New', Courier, monospace;
   color: #1b74e4; 
 }

 
#login, #register{
    background-color:aqua ;
}

.useburn
{
    background-color: aqua;
}