 div{
    width: 200px;
    height: 100px;
    background-color: aqua;
    margin: 10px auto;
    background-image: url("download.jpg");
    background-size: cover;
    color: white;
    font-size: 200%;
    font-style: italic;

 }