 .face{

    width: 200px;
    height: 200px;
    background-color: #ffa511;
    border-radius: 50%;
 }

 .mouth{
    width: 150px;
    height: 55px;
    background-color: brown;
    border-radius: 0 0 30px 30px ;
    position: absolute;
    top: 119px;
    left: 35px;
   
 }

 .lefteye, .righteye{

    width: 50px;
    background-color: black;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
     position: absolute; /* it arranges the eye in one 
         place both coz we have taken boht eye left and 
         right eye */
    top: 40px;
    left: 40px;
    
}

.righteye{
    left: 120px;
}