

h1 {

  
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
//WHILE PASTING THE LINK THERE IS NAME ALREADY
 EX. .XYZ{ } HERE REPLACE XYZ 
  WITH H1 H2 AND SO ON