 h1{
    background-color: yellow;
    border: 2px solid black;
 }

 @media(width:400px){
    h1{
        background-color: rgb(255, 255, 255);
        color: red;
    }
    div{
        height: 100px;
        width: 110px;
       background-color: blue;

    }

  }


MIN WIDTH
 @media(min-width:400px){
    h1{
    background-color: yellowgreen;
 }
    
 }


 /* MAX WIDTH */
 @media(max-width:300px){
    h1{
    background-color: rgb(79, 205, 228);
 }
    
 }

 /* IF YOU WANT LIKE IN RANGE */

 @media(min-width:200px) and (max-width:500px) {
h1{
    background-color: pink;
 }
 }

 @media(orientation: landscape){
    h1{
        background-color: aqua;
        color: magenta;
    }
 }