 #container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; 
     flex-direction: row;
     justify-content:center;
     flex-wrap: wrap-reverse;
      
     /* flex-direction: row-reverse;
      flex-direction: column-reverse;
       flex-direction: column; */
    /* flex direction has types 
      1.row - left to right
      2.reverse- right to left
      3.column- top to bottom
      4.column-reverse- bottom to top  */
 }

 h1{
    text-align: center;

 }

 #container div {

    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;

 }
/*   JUSTIFY CONTENT   */
 /* 
   justify-content:flex-start;
   justify-content:flex-end;
   justify-content:flex-center;

   justify-content:space-between;
   create space between 2 colour

   justify-content:space-around;
   create space between 2 but also at start and end half half 


   justify-content:space-evenly;
    create space between 2 but also at start and end


*/

/*    FLEX WRAP

  flex-wrap: wrap-reverse;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  
 */
 