 #container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex; 
     flex-direction:row;
     justify-content:center;
     flex-wrap: wrap;
     align-items:baseline;
     align-content:flex-start     ;
     /*
      SAAME AS ITEMS JUST ALIGNS THE WHOLE CONTENT
         
        align-content: center ;
        align-content: flex-start ;
        align-content: flex-end ;
        align-content: space-between ;
        align-content: space-around;
        align-content: evenly ;
        align-content: baseline ;            

       */

     /* 
     has 3 types:
      1.align-items:baseline;
      arranges all blocks in same line 

     2. align-items: flex-start;
      starts from up

      3.align-items: flex-end;
      starts from down  
      
      */
 }

 #red{

    flex: 1 1  50px;
    /* flex-grow: 2; */
   /*  it will be now 2 times the blue   */

    align-self:flex-start;
   /* types
     align-self:flex-start;
     align-self:flex-end;
     align-self:baseline;    */
 }

 #blu{
     /* flex-grow: 1; */

     flex-shrink: 1;
     flex-grow: 2;
     /* if u change the size of container all colours will adjust themselve in ratio 1:1 */


     /* min-width: 110px; */
 /*  if u minimize the container the also the blue width wil be max 110px ONLY!  */

     /* max-width: 300px; */
     /*  if u extend the container the also the blue width wil be max 300px ONLY!  */

     /* now here id is 'blu' i.e blue so it will occupy remaning area in container */

    /* flex-basis: 500px; */
    /*  it sets the inital main size of a flex item   
    it applies to flex direction horizontal or vertical*/
 }


     
h1{
    text-align: center;

 }

 #container div {

    height: 50px;
    width: 10px;
    color: white;
    text-align: center;
    font-size: 1em;

 }