 .box{
    height: 150px  ;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
    position: relative;
    z-index: 2;
 }

 .1{
    
     height: 150px  ;
    width: 150px;
    border: 2px solid black;
   
 }

 .2{
    height: 150px  ;
    width: 150px;
    border: 2px solid black;
    background-color: aquamarine;
    position: static;
    bottom:50px ;
    
      


 }

 .3{
    height: 150px  ;
    width: 150px;
    border: 2px solid black;
    background-color: darkgoldenrod;
 }