 .box{
   height:100px ;
   width: 300px;
   background-color: green;

   /* ANIMATION */
   /* animation-name: fontAnimation;
   animation-duration: 2s;
   animation-timing-function:ease-in ;
   animation-delay: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate; */

   /* THIS FULL  PARA UP HERE CAN BE WRITTEN AS IN ONE LINE */
   animation: widthAnimate 3s ease-in 0s infinite normal ; /* shorthand of animation */


 }

 @keyframes widthAnimate{
    from{
        width: 10px;
        background-color: greenyellow;

    }
    to{
        width: 400px;
        background-color: black;
        border-radius: 50px;
    }
 }

 @keyframes fontAnimation {

    from{font-size:20px;}

    to{font-size:40px;}
    
 }


/* percentage %  MAKE COLOURS OR ANIMATIONO INTO DIF STEPS  */
 .box1{
    width: 100px;
    height: 50px;
    background-color: yellow;
    animation: colAnime 3s ease-in 0s infinite normal;

 }
@keyframes colAnime{
    0%{
        width: 100px;
        background-color: brown;
        border-radius: 2px;
    }
    50%{
        width: 200px;
        background-color: blue;
        border-radius: 10px;
    }
    100%{
        width: 510px;
        background-color: brown;
        border-radius: 10px;
    }
}
 